mixin footer
    footer.footer.container
        a.footer__link.footer__link_margin(href="mailto:gordiychuk98@gmail.com") 
                    i.fas.fa-envelope.footer__icon
                    |gordiychuk98@gmail.com
        a.footer__link(href='tel: +380955250274') 
                    i.fas.fa-phone.footer__icon
                    |+380 95 525 0274