mixin header
    header.header.container
        .header__inner     
            span.header__logo Y
            h1.header__name Yullia Hordiichuk
            ul.header__socials.socials 
                li.socials__item
                    a.socials__link(href="https://www.linkedin.com/in/yuliia-hordiichuk/" target="_blank")
                        i.fab.fa-linkedin-in
                li.socials__item
                    a.socials__link(href="https://github.com/YuliiaHordiichuk" target="_blank")
                        i.fab.fa-github
                li.socials__item
                    a.socials__link(href="https://t.me/yuliiahordiichuk" target="_blank")
                        i.fab.fa-telegram-plane
                li.socials__item
                    a.socials__link(href="https://www.facebook.com/yulya.gordiychuk.92/" target="_blank") 
                        i.fab.fa-facebook-f
                li.socials__item
                    a.socials__link(href="https://www.instagram.com/yulyagordiychuk/" target="_blank")
                        i.fab.fa-instagram-square
            
            
            
            
