mixin info
    section.info.container
        .info__education
            p.info__title Education
            p.info__wrap
                span.info__date 2015 - 2019 
                span.info__suptext Bachelor's degree 
            p.info__text  National Technical University of Ukraine "Igor Sikorsky Kyiv Polytechnic Institute"
            p.info__subtext Faculty of Management and Marketing, Management of Foreign Economic Activity

        .info__courses
            p.info__title Courses
            ul.info__list
                li.info__item 
                    span.info__date 2020 
                    span.info__name HTML & CSS
                    span.info__punkt —
                    a.info__link(href='https://htmlacademy.ru/study' target="_blank") HTML Academy
                li.info__item 
                    span.info__date 2020 
                    span.info__name Version Control with Git
                    span.info__punkt —
                    a.info__link(href='https://classroom.udacity.com/courses/ud123' target="_blank") UDACITY
                li.info__item
                    span.info__date.info__date 2020 
                    span.info__name JavaScript Basics
                    span.info__punkt —
                    a.info__link(href='https://classroom.udacity.com/courses/ud803' target="_blank") UDACITY
                li.info__item
                    span.info__date.info__date 2020 
                    span.info__name Object-Oriented JavaScript
                    span.info__punkt —
                    a.info__link(href='https://classroom.udacity.com/courses/ud015' target="_blank") UDACITY

        .info__skills
            p.info__title Skills
            ul.info__list 
                li.info__item
                    i.fas.fa-code.info__icon
                    |HTML, CSS (Pixel Perfect, Custom Properties, animations)
                li.info__item
                    i.fas.fa-code.info__icon
                    |Pug, SCSS/SAAS, gulp
                li.info__item
                    i.fas.fa-code.info__icon 
                    |JavaScript Basics
                li.info__item
                    i.fas.fa-code.info__icon
                    |Git, GitHub
                li.info__item
                    i.fas.fa-code.info__icon 
                    |Figma, Avocode

        .info__lang
            p.info__title Languages
            ul.info__list 
                li.info__item
                    i.fas.fa-globe.info__icon
                    |English — Upper Intermediate
                li.info__item 
                    i.fas.fa-globe.info__icon
                    |Ukrainian — Native
                li.info__item
                    i.fas.fa-globe.info__icon
                    |Russian — Proficient

        .info__experience
            p.info__title Experience
            p.info__subtitle 6 months
            p.info__text I have done few commercial projects (website templates) for themeforest. There are also projects, which were made for educational purposes only and you can check them out in my portfolio. 
            
        