mixin intro 
    section.intro.container
        img.intro__img(src='assets/intro.jpg' alt="Yulia`s picture")
        .intro__inner 
            p.intro__suptitle Junior Front-End Developer
            p.intro__title Yuliia Hordiichuk
            p.intro__text An ambitious junior Front-End Developer. I am seeking an entry-level position to use and develop my skills. Fast learner, hard worker, and team player. 
            .intro__contacts
                a.intro__link(href="mailto:gordiychuk98@gmail.com") 
                    i.fas.fa-envelope.intro__icon
                    |gordiychuk98@gmail.com
                a.intro__link(href='tel: +380955250274') 
                    i.fas.fa-phone.intro__icon
                    |+380 95 525 0274
                p.intro__adress
                    i.fas.fa-map-marker-alt.intro__icon
                    |Kyiv, Ukraine 