mixin projects

    section.projects.container 
        h2.projects__title Portfolio
        .projects__wrap 
            a.projects__item.projects__item-01(href="./projects/devchallenge/index.html" target="_blank") 
                p.projects__name.projects__name_long SOLIS <br>
                    span.projects__small light/dark theme
                p.projects__link Go to a website 
            a.projects__link-mobile(href="./projects/devchallenge/index.html" target="_blank") Go to a website
            a.projects__item.projects__item-02(href="./projects/deco/index.html" target="_blank")
                p.projects__name DECO
                p.projects__link Go to a website 
            a.projects__link-mobile(href="./projects/deco/index.html" target="_blank") Go to a website
            a.projects__item.projects__item-03(href="./projects/axit/index.html" target="_blank")
                p.projects__name AXIT
                p.projects__link Go to a website 
            a.projects__link-mobile(href="./projects/axit/index.html" target="_blank") Go to a website
             