.info {
    padding-top:50px;
    padding-bottom: 50px;

    display: grid; 
    grid-template-columns: auto auto;
    gap: 40px 50px; 

    @media(max-width: 1100px) {
        grid-template-columns: auto;
    }

    @media(max-width: 760px) {
        padding-top: 30px; 
    } 

    &__date {
        padding: 5px 15px;
        margin-right: 15px; 
        border: 2px solid  rgb(250, 219, 81); 
        border-radius: 40px;

        font-size: 12px;
    }

    &__title {
        display: inline-block;
        padding: 10px;  
        margin-bottom: 15px;
    
        font-size: 24px;
        font-weight: 600; 
        line-height: 1.75em;

        @media(max-width: 520px) {
            font-size: 20px;
        }
    }
    
    &__title::after {
        content: "";
        display: block; 
        width: 100%; 
        height: 2px; 
        background-image: linear-gradient(to right, rgb(250, 219, 81), rgb(250, 219, 81) 40%,  rgba(128, 128, 128, 0.1) 30%,  rgba(128, 128, 128, 0.1));
    }

    &__subtitle {
        font-size: 16px;
        opacity: 0.5;

        @media(max-width: 520px) {
            font-size: 12px;
        }
    }

    &__icon {
        margin-right: 10px;

        color: rgb(250, 219, 81); 
        font-size: 14px;
    }

    &__wrap {
        margin-bottom: 10px;
    }

    &__suptext {
        opacity: 0.6; 
    }

    &__subtext {
        margin-top: 5px;
        font-size: 14px;

        @media(max-width: 520px) {
            font-size: 12px;
        }
    }

    &__item {
        margin-bottom: 10px;
    }

    &__item:last-child {
        margin-bottom: 0;
    }

    &__punkt {
        margin: 0 5px;

        @media(max-width: 520px) {
            display: none; 
        }
    }

    &__link {
        color: rgb(51, 50, 50);
        white-space: nowrap;

        transition: .1s color;

        @media(max-width: 520px) {
            display: block; 
            margin: 10px 0 0 81px; 
        }
    }

    &__link:hover {
        color:  rgba(51, 50, 50, 0.8);
    }    


}
